<nb-layout>
  <nb-layout-header fixed>
    <!-- Insert header here -->
  </nb-layout-header>

  <nb-layout-column>
    <h1>Nebular</h1>

    <nb-layout>
      <nb-layout-column>
        <nb-chat title="Nebular Conversational UI" size="large">
          <nb-chat-message
            *ngFor="let msg of messages"
            [type]="msg.type"
            [message]="msg.text"
            [reply]="!msg.reply"
            [sender]="msg.user.name"
            [date]="msg.date"
            [files]="msg.files"
            [quote]="msg.quote"
            [latitude]="msg.latitude"
            [longitude]="msg.longitude"
            [avatar]="msg.user.avatar"
          >
          </nb-chat-message>
          <nb-chat-form (send)="sendChat($event)" [dropFiles]="true">
          </nb-chat-form>
        </nb-chat>
      </nb-layout-column>

      <nb-layout-footer fixed>
        <!-- Insert footer here -->
      </nb-layout-footer>
    </nb-layout>
  </nb-layout-column>
</nb-layout>
